<section class="sac-section">
  <div class="sac-modal" id="sac-share-a-cart-modal">
    <div class="sac-modal-body">
      <div class="sac-modal-close" id="sac-modal-close-btn">
        <div class="sac-svg-close">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_986_7239)">
            <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="#000"/>
            </g>
            <defs>
            <clipPath id="clip0_986_7239">
            <rect width="24" height="24" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        </div>
      </div>
      <div class="sac-cart-box">
        <div class="sac-cart-box-header">
          <div class="sac-svg-check">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_986_7240)">
              <path d="M8.99844 16.2L4.79844 12L3.39844 13.4L8.99844 19L20.9984 6.99998L19.5984 5.59998L8.99844 16.2Z" fill="#00AA52"/>
              </g>
              <defs>
              <clipPath id="clip0_986_7240">
              <rect width="24" height="24" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          </div>

          <p>Your list is ready to share</p>
        </div>
        <div>
          <div class="sac-cart-link-wrapper">
            <div class="sac-svg-link">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 11H16V13H8V11ZM20.1 12H22C22 9.24 19.76 7 17 7H13V8.9H17C18.71 8.9 20.1 10.29 20.1 12ZM3.9 12C3.9 10.29 5.29 8.9 7 8.9H11V7H7C4.24 7 2 9.24 2 12C2 14.76 4.24 17 7 17H11V15.1H7C5.29 15.1 3.9 13.71 3.9 12ZM19 12H17V15H14V17H17V20H19V17H22V15H19V12Z" fill="#fff"/>
              </svg>
            </div>
            <p class="sac-cart-link" id="sac-cart-link">https://share-a-cart.com/share/31YVW</p>
          </div>
        </div>
        <div class="sac-share-container">
          <div class="sac-btn sac-btn-secondary" id="sac-copy-link-btn">Copy Link</div>
          <div class="sac-btn sac-btn-secondary" id="sac-email-link-btn">Email Link</div>
          <div class="sac-btn sac-btn-primary" id="sac-share-link-btn">More Sharing Options</div>
        </div>
      </div>
    </div>
  </div>
  <div class="sac-share-a-cart-btn sac-btn sac-btn-primary" id="sac-share-a-cart-btn"><p>Share a cart</p></div>
</section>
